#chat-container {
	display: flex;
	/* flex-direction: column; */
	justify-content: space-between;
	height: 500px;
}

#chat-messages {
	overflow-x: hidden;
	overflow-y: auto;

	flex-grow: 1;

	margin: -1em 1em 1em -1em;
	border: 1px solid greenyellow;
	padding: 1em;
}

#chat-messages p {
	padding: 0;
	margin: 0;
}
