#chat-container {
	display: flex;
	justify-content: space-between;
	height: 450px;
}

#chat-messages {
	display: flex;
	flex-direction: column-reverse;
	overflow: auto;

	width: 600px;

	flex-grow: 1;

	margin-right: 1em;
	border: 1px solid greenyellow;
	padding: 1em;
}

#chat-messages p {
	padding: 0;
	margin: 0;
}

.chat-wrapper {
	display: flex;
	flex-direction: column;
}

#chat-input {
	margin-top: 1em;
}

.error_message {
	color: red;
}