#chat-container {
	/* display: flex; */
	/* justify-content: space-between; */
	/* min-height: 450px; */
}

/* @media (max-width: 800px) {
	#chat-container {
    flex-direction: column-reverse;
  }

	#user-list {
		/* margin-top: 1em; */
	/* } */
/* } */ */

#user-list .title {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0.5em;
}

#chat-messages {
	display: flex;
	flex-direction: column-reverse;
	overflow: auto;

	/* max-width: 600px; */

	flex-grow: 1;

	min-height: 500px;
	max-height: 500px;

	/* margin-right: 1em; */
	/* border: 1px solid greenyellow; */
	padding: 1em;
}

#chat-messages p {
	padding: 0;
	margin: 0;
}

.chat-wrapper {
	display: flex;
	flex-direction: column;
}

#chat-input {
	margin-top: 1em;
}

.error_message {
	color: red;
}